<div class="container">
    <div class="content">
        <div class="title">
            <table class="table table-condensed">
                <tr>
                    <td width="50%">
                        <h3>{{ page }}</h3>
                        <h4>Learning AngularJS</h4>
                    </td>
                    <td width="50%" class="text-right">
                        <p>
                            <span>{{clock.now | date:"MM/dd/yyyy hh:mm:ss"}}</span>
                        </p>
                        <!--<div gravatar data-email="kennthompson@gmail.com" data-size="120" data-rating="pg" data-default="404" ></div>-->
                    </tr>
            </table>

            <table class="table table-bordered table-condensed">
                <tr>
                    <td width="50%">
                        <h3>AngularJS</h3>
                        <ul>
                            <li><a href="" target="_blank"></a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>