<div ng-controller="GamesController">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th class="text-center report-headings">ID</th>
            <th class="text-center report-headings">Year</th>
            <th class="text-center report-headings">Date</th>
            <th class="text-center report-headings">Event</th>
            <th class="text-center report-headings">Title</th>
            <th class="text-center report-headings">ECO</th>
            <th class="text-center report-headings">Result</th>
            <!--<th class="text-center report-headings">Action</th>-->
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games">
                <td class="text-left">{{ game.id }}</td>
                <td class="text-center">{{ game.year }}</td>
                <td class="text-center">{{ game.gameDate }}</td>
                <td class="text-left">{{ game.event }}</td>
                <td class="text-left">{{ game.title }}</td>
                <td class="text-center">{{ game.eco }}</td>
                <td class="text-center">{{ game.gameResult }}</td>
                <!--<td class="text-center">-->
                    <!--<a href="{!! action('gamecodesController@show', $gamecode->id) !!}" title="Show"><span class="glyphicon glyphicon-list"></span></a>-->
                    <!--<a href="{!! action('gamecodesController@edit', $gamecode->id) !!}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>-->
                    <!--<a href="{!! action('gamecodesController@destroy', $gamecode->id) !!}" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>-->
                <!--</td>-->
            </tr>
        </tbody>
    </table>
</div>
<!--<pre>{{ games | json }}</pre>-->
